TEST_DB_IMAGE=ghcr.io/godfatherofdevil/postgres-18-alpine-wal2json:latest
TEST_DB_NAME=tests
TEST_DB_USER=tests
TEST_DB_PASSWORD=secret
TEST_DB_PORT=5432
TEST_DB_CONTAINER=pgwal-tests
TEST_DB_SUPERUSER=tests

TEST_RABBITMQ_HOST=localhost
TEST_RABBITMQ_PORT=5672
TEST_RABBITMQ_USER=tests
TEST_RABBITMQ_PASSWORD=secret
TEST_RABBITMQ_VHOST=/
TEST_RABBITMQ_IMAGE=rabbitmq:4.3-alpine
TEST_RABBITMQ_CONTAINER=pgwal-rabbit-tests

TEST_KAFKA_HOST=localhost
TEST_KAFKA_PORT=9092
TEST_KAFKA_IMAGE=apache/kafka-native:3.9.1
TEST_KAFKA_CONTAINER=pgwal-kafka-tests

E2E_APP_STARTUP_TIMEOUT=20
E2E_DELIVERY_TIMEOUT=30
